<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="/css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Notas Fiscais</title>
</head>
<body>

<button class="menu-toggle" id="menu-toggle">☰</button>

<aside class="sidebar" id="sidebar">
    <div class="sidebar-nav-container">
        <div class="sidebar-logo">
            <img src="/css/img/premier-logo.png" alt="Logo premier">
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item"><a href="/notas">Notas Fiscais</a></li>
            <li class="sidebar-nav-item"><a href="#">Configurações</a></li>
            <li class="sidebar-nav-item"><a href="#">Sair</a></li>
        </ul>
    </div>
    <div class="sidebar-footer">
        <p></p>
    </div>
</aside>

<main class="main-content" id="main-content">
    <header class="header">
        <h1>Painel de Notas Fiscais</h1>
        <p>Selecione uma das opções abaixo para gerenciar suas notas.</p>
    </header>

    <div class="cards-wrapper">
    <div class="card-container">
        <a href="/notas" class="card">
            <h2>Notas Fiscais</h2>
            <p>Relatório completo das notas fiscais.</p>
        </a>
    </div>
    <div class="card-container">
        <a href="/#" class="card">
            <h2>Lista Colaboradores</h2>
            <p>Lista com todos os colaboradores da Premiersoft</p>
        </a>
    </div>
    </div>


</main>

<script>
    const menuToggle = document.getElementById('menu-toggle');
    const sidebar = document.getElementById('sidebar');
    const mainContent = document.getElementById('main-content');

    menuToggle.addEventListener('click', () => {
        sidebar.classList.toggle('active');
        mainContent.classList.toggle('shifted');
    });
</script>
</body>
</html>