<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="/css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premiersoft Notes</title>
</head>
<body>

<button class="menu-toggle" id="menu-toggle">☰</button>

<aside class="sidebar" id="sidebar">
    <div class="sidebar-nav-container">
        <div class="sidebar-logo">
            <img src="/img/premier-logo.png" alt="Logo premier">
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item"><a href="/diario">Diário Ocorrências</a></li>
            <li class="sidebar-nav-item"><a href="#">Configurações</a></li>
            <li class="sidebar-nav-item"><a href="#">Sair</a></li>
        </ul>
    </div>

    <div class="sidebar-footer">

    </div>
</aside>

<main class="main-content" id="main-content">
    <header class="header">
        <h1>Premiersoft Notes</h1>
    </header>

    <div class="cards-wrapper">
    <div class="card-container">
        <a href="/notas" class="card">
            <h2>Notas Fiscais</h2>
            <p>Relatório completo das notas fiscais.</p>
        </a>
    </div>

    <div class="card-container">
        <a href="/seguro" class="card">
            <h2>Lista Colaboradores</h2>
            <p>Gerenciar colaboradores.</p>
        </a>
    </div>

    <div class="card-container">
        <a href="/pagamentos" class="card">
            <h2>Base de Contas PJ</h2>
            <p>Base de pagamentos e dados.</p>
        </a>
    </div>

    <div class="card-container">
            <a href="/estoque" class="card">
                <h2>Estoque</h2>
                <p>Acompanhar e registrar itens em estoque.</p>
            </a>
    </div>
    </div>

    <div class="card-container">
        <a href="/diario" class="card-diary">
            <div class="card-header">
                <div class="calendar-icon">
                    <div class="calendar-icon-top"></div>
                    <div class="calendar-icon-day">
                        <script>document.write(new Date().getDate())</script>
                    </div>
                </div>
                <h2>Diário de Ocorrências</h2>
            </div>
            <p>Registrar e acompanhar ocorrências diárias do sistema.</p>
            <div class="card-footer">
                <div class="card-footer-icon"></div>
                <span>Acesso rápido aos registros</span>
            </div>
        </a>
    </div>
    </div>
</main>

<script>
    const menuToggle = document.getElementById('menu-toggle');
    const sidebar = document.getElementById('sidebar');
    const mainContent = document.getElementById('main-content');

    menuToggle.addEventListener('click', () => {
        sidebar.classList.toggle('active');
        mainContent.classList.toggle('shifted');
    });
</script>
</body>
</html>