<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Importar Notas via Excel</title>
    <link rel="stylesheet" href="/css/importar.css"></head>
<body>
<div class="container">
    <header>
        <img src="/css/img/premier-logo.png" alt="Logo premier" class="header-logo">
    </header>
    <form th:action="@{/notas/importar}" method="post" enctype="multipart/form-data" class="upload-form">

        <h2>Importar Notas Fiscais via Excel</h2>

        <div class="form-group">
            <label for="file-upload">Selecione o arquivo para importar</label>
            <div class="file-drop-area">
                <span class="file-msg">Arraste e solte o arquivo aqui, ou clique para selecionar.</span>
                <input type="file" id="file-upload" name="file" accept=".xlsx, .xls" required>
            </div>
        </div>

        <div class="button-group">
            <button type="submit">Importar Arquivo</button>
        </div>
    </form>
    <div class="link-container">
        <a th:href="@{/notas}" class="button-link">Voltar para a Lista de Notas</a>
    </div>
</div>

</body>
</html>